<div class="container-fluid">
  <section>
    <ag-vision
      [departments]="departments$ | async"
      [vision]="vision$ | async"
      title="{{ 'agah.vision' | translate }}"
      type="about-page"
    ></ag-vision>
  </section>
  <section class="mar-t-156">
    <ag-histories
      title="{{'agah.history' | translate}}"
      [histories]="histories$ | async"
    ></ag-histories>
  </section>
  <section class="mar-t-156">
    <ag-directors
      title="{{'agah.boardOfDirectors' | translate}}"
      [buttonLabel]="'buttons.all' | translate:{value: fa ? 'اعضای هیئت مدیره':'directors'}"
      buttonRouterLink="/about/directors"
      [directors]="directors$ | async"
    ></ag-directors>
  </section>
  <section class="pad-t-156">
    <ag-stockholders
      title="{{'agah.stockholders' | translate}}"
      [stockholders]="stockholders$ | async"
    ></ag-stockholders>
    <ag-button
      class="text-center mar-t-80"
      routerLink="/about/stockholders"
      [label]="'buttons.all' | translate:{value: fa ? 'سهامداران':'stockholders'}"
    ></ag-button>
  </section>
  <section class="pad-t-156">
    <ag-counselors
      title="{{'agah.counselors' | translate}}"
      [buttonLabel]="'buttons.all' | translate:{value: fa ? 'مشاوران':'counselors'}"
      buttonRouterLink="/about/counselors"
      [counselors]="counselors$ | async"
    ></ag-counselors>
  </section>
  <section class="pad-t-156">
    <ag-employees
      title="{{'agah.employees' | translate}}"
      [employees]="employees$ | async"
    ></ag-employees>
  </section>
  <section class="pad-t-156">
    <ag-container
      title="{{'modules.news.news&Events' | translate}}"
      *ngIf="news$ | async"
    >
      <ag-carousel
        [config]="{spaceBetween:15, breakpoints: { '575': { slidesPerView: 2 }, '992': { slidesPerView: 3, allowTouchMove:false }}}"
        class="col-12"
      >
        <div
          class="swiper-slide px-3 py-4"
          *ngFor="let news of ((news$ | async) | slice: 0:3)"
        >
          <ag-news-item [news]="news"></ag-news-item>
        </div>
      </ag-carousel>

      <div class="col-12 mar-t-80">
        <div
          class="row flex-column flex-sm-row align-items-center justify-content-center"
        >
          <ag-button
            routerLink="/news"
            class="mar-x-16 mb-5 mb-sm-0"
            [raised]="true"
            [outline]="true"
            [label]="'buttons.seeMore' | translate:{value:fa?'مطالب بیشتر':'more posts'}"
          ></ag-button>
          <ag-button
            routerLink="/news/gallery"
            class="mar-x-16"
            [raised]="true"
            [outline]="true"
            [label]="'buttons.gallery' | translate"
          ></ag-button>
        </div>
      </div>
    </ag-container>
  </section>
  <section class="mar-t-156 mar-b-156">
    <ag-follow-us dotsPosition="right"></ag-follow-us>
  </section>
</div>
