<div class="container-fluid">
  <section>
    <ag-vision [vision]="vision$ | async" type="about-page"></ag-vision>
  </section>
  <section class="mar-t-156">
    <ag-histories
      title="{{'TITLES.HISTORIES' | translate}}"
      [histories]="histories$ | async"
    ></ag-histories>
  </section>
  <section class="mar-t-156">
    <ag-employers
      title="{{'TITLES.DIRECTORS' | translate}}"
      [employers]="directors$ | async"
    ></ag-employers>
  </section>
  <section class="pad-t-156">
    <ag-employees
      title="{{'TITLES.EMPLOYEES' | translate}}"
      [employees]="employees$ | async"
    ></ag-employees>
    <ag-button
      class="text-center mt-3"
      [raised]="true"
      label="Login"
    ></ag-button>
  </section>
  <section class="mar-t-156">
    <ag-employers
      title="{{'TITLES.STOCKHOLDERS' | translate}}"
      [employers]="stockholders$ | async"
    ></ag-employers>
  </section>
  <section class="pad-t-156">
    <ag-container title="{{'TITLES.NEWS' | translate}}">
      <div class="col-4" *ngFor="let item of [] | slice: 0:3">
        <ag-news-item [news]="item"></ag-news-item>
      </div>
    </ag-container>
  </section>
  <section class="mar-t-156 mar-b-156">
    <ag-follow-us dotsPosition="right"></ag-follow-us>
  </section>
</div>
