<div class="row header" *ngIf="product">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 pad-t-48">
        <ag-breadcrumb></ag-breadcrumb>
      </div>
      <div class="col-lg-11 mar-t-40">
        <div class="text-sm-center text-{{ fa ? 'right' : 'left' }}">
          <h1 class="space" [innerHTML]="product.title"></h1>
          <p class="space">
            {{ product.description }}
          </p>
        </div>
        <a [href]="product.website" target="_blank">
          <ag-button
            class="space text-center"
            label="{{ 'BUTTONS.VISIT_WEBSITE' | translate }}"
          ></ag-button>
        </a>
        <div class="ag-blur-effect">
          <img
            [src]="product.image"
            [alt]="product.title"
            class="img-fluid mar-t-40 w-100 ag-rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
