@import "abstracts/mixins";

html,
body {
  height: 100%;
  line-height: $line-height-lg;
  color: $body-color;
  font-size: $font-size-sm;
  margin: 0;
  @include medium() {
    font-size: $font-size-md;
  }
}
body {
  &.ag-rtl {
    font-family: $yekan-font;
  }
  &.ag-ltr {
    font-family: $muli-font;
  }
}
