@import "abstracts/mixins";

.font-thin {
  font-weight: 100;
}

.font-ultralight {
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: normal !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-bold {
  font-weight: bold !important;
}

.text-extrabold {
  font-weight: 800 !important;
}

.font-ultrabold {
  font-weight: 900 !important;
}

.text-extrablack {
  font-weight: 950 !important;
}

.font-italic {
  font-style: italic !important;
}

.ag-rounded-xl {
  border-radius: $radius-xl;
}

.ag-rounded-lg {
  border-radius: $radius-lg;
}

.ag-rounded-md {
  border-radius: $radius-md;
}

.ag-shadow-xsm {
  box-shadow: $shadow-sm rgba(0, 0, 0, 0.1);
}

.ag-shadow-sm {
  box-shadow: $shadow-md rgba(0, 0, 0, 0.1);
}

.ag-shadow-md {
  box-shadow: $shadow-lg rgba(0, 0, 0, 0.1);
}

.ag-shadow-lg {
  box-shadow: $shadow-md rgba(68, 193, 195, 0.3);
}

.ag-blur-effect {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; // -20px;
    bottom: -20px; // -20px;
    opacity: 0.08;
    filter: blur(30px);
    background-color: #000000;
    z-index: -1;
  }
}

.ag-ltr {
  direction: ltr;
  text-align: left;
}

.ag-rtl {
  direction: rtl;
  text-align: right;
}

.lightboxOverlay {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

.lightbox {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  .lb-nav {
    a {
      position: absolute;
      opacity: 1 !important;
      &.lb-prev {
        left: -60px !important;
      }
      &.lb-next {
        right: -60px !important;
      }
    }
  }
  .lb-close {
    display: none !important;
  }
}
