@import "abstracts/mixins";

.employees {
  .col {
    margin-bottom: 30px;
    margin-top: 30px;
    max-width: 242px;
    flex-basis: 100%;
    @include small() {
      max-width: 240px;
    }
    @include large() {
      max-width: 225px;
    }
  }
  .first-row-even {
    transform: translateY(-30px);
  }
}
