<div class="row employees">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ag-lined-header *ngIf="title" class="mar-b-80" [text]="title"></ag-lined-header>
      </div>
      <div
        class="col"
        [class.first-row-even]="even"
        *ngFor="let employee of employees | slice: 0:5; let even = even"
      >
        <ag-employee-item [employee]="employee"></ag-employee-item>
      </div>
      <div class="w-100"></div>

      <div
        [class.second-row-even]="even"
        class="col"
        *ngFor="let employee of employees | slice: 5:10; let even = even"
      >
        <ag-employee-item [employee]="employee"></ag-employee-item>
      </div>
    </div>
  </div>
</div>
