<div class="container-fluid pad-b-48" *ngIf="jobs">
  <section class="mar-b-56">
    <ag-vision
      [title]="'modules.jobs.oppurtinity' | translate"
      [vision]="vision"
      type="about-page"
    ></ag-vision>
  </section>
  <ag-container>
    <section class="col-12">
      <ag-job-oppurtinities>
        <ag-job-oppurtinity-item
          *ngFor="let job of jobs"
          class="mar-b-32"
          [job]="job"
        ></ag-job-oppurtinity-item>
      </ag-job-oppurtinities>
    </section>
  </ag-container>
</div>
