<div class="wrapper ag-rounded-lg pad-32">
  <div class="d-flex align-items-center content-text mar-b-24">
    <i class="mar-r-16 fa-lg fal fa-list"></i>
    <span>Content</span>
  </div>
  <div class="timeline">
    <div class="week">
      <h3 class="week__title mb-0 pad-x-16">1st Week</h3>
      <ul class="list-unstyled pad-16 m-0">
        <li class="week__item d-flex align-items-center mar-b-8">
          <span class="week__item-title flex-grow-1"
            >Title of first week courses</span
          >
          <div
            class="week__item-watch d-flex align-items-center flex-grow-1 text-center"
          >
            <div class="mar-r-16">
              <i class="fas mar-r-4 fa-book"></i><span>7 min read</span>
            </div>
            <div>
              <i class="fab mar-r-4 fa-youtube"></i><span>7 min read</span>
            </div>
          </div>
          <div class="lock flex-grow-1 text-right">
            <i class="fas fa-lock-alt"></i>
          </div>
        </li>
        <li class="week__item d-flex align-items-center mar-b-8 deactive">
          <span class="week__item-title flex-grow-1"
            >Title of first week courses</span
          >
          <div
            class="week__item-watch d-flex align-items-center flex-grow-1 text-center"
          >
            <div class="mar-r-16">
              <i class="fas mar-r-4 fa-book"></i><span>7 min read</span>
            </div>
            <div>
              <i class="fab mar-r-4 fa-youtube"></i><span>7 min read</span>
            </div>
          </div>
          <div class="lock flex-grow-1 text-right">
            <i class="fas fa-lock-alt"></i>
          </div>
        </li>
      </ul>
    </div>
    <div class="week">
      <h3 class="week__title mb-0 pad-x-16">1st Week</h3>
      <ul class="list-unstyled pad-16 m-0">
        <li class="week__item d-flex align-items-center mar-b-8">
          <span class="week__item-title flex-grow-1"
            >Title of first week courses</span
          >
          <div
            class="week__item-watch d-flex align-items-center flex-grow-1 text-center"
          >
            <div class="mar-r-16">
              <i class="fas mar-r-4 fa-book"></i><span>7 min read</span>
            </div>
            <div>
              <i class="fab mar-r-4 fa-youtube"></i><span>7 min read</span>
            </div>
          </div>
          <div class="lock flex-grow-1 text-right">
            <i class="fas fa-lock-alt"></i>
          </div>
        </li>
        <li class="week__item d-flex align-items-center mar-b-8 deactive">
          <span class="week__item-title flex-grow-1"
            >Title of first week courses</span
          >
          <div
            class="week__item-watch d-flex align-items-center flex-grow-1 text-center"
          >
            <div class="mar-r-16">
              <i class="fas mar-r-4 fa-book"></i><span>7 min read</span>
            </div>
            <div>
              <i class="fab mar-r-4 fa-youtube"></i><span>7 min read</span>
            </div>
          </div>
          <div class="lock flex-grow-1 text-right">
            <i class="fas fa-lock-alt"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
