@import "abstracts/mixins";

.share {
  span {
    @include text-style($title-color1, $font-size-md, $font-weight: 600);
    @include medium() {
      font-size: $font-size-lg;
    }
  }
  i {
    color: #aae2e3;
    &:hover {
      color: $primary;
    }
  }
}
