@import "abstracts/mixins";

.social {
  background-image: url("../../../../../assets/images/social.png");
  background-repeat: no-repeat;
  padding: 14% 0;
  background-size: 110% auto;
  background-position: top;
  p {
    @include text-style($title-color3, $font-size-lg, $font-weight: 600);
  }

  > .container {
    margin-top: -100px;
  }
}
