<div class="row social">
  <div class="container">
    <div class="row justify-content-{{ fa ? 'end' : 'start' }}">
      <div class="col-md-6">
        <div class="row justify-content-{{ fa ? 'end' : 'start' }}">
          <div class="col-md-11 col-lg-9">
            <div
              class="contact-us-form bg-white pad-32 ag-shadow-lg ag-rounded-lg"
            >
              <p>{{ "agah.contactUs" | translate }}</p>
              <form
                class="form-row"
                [formGroup]="form"
                (ngSubmit)="onSubmitForm()"
              >
                <ag-input-text
                  formControlName="name"
                  placeholder="{{ 'forms.firstName' | translate }}"
                  [errors]="[{ required: 'forms.required' | translate }]"
                  class="col-12 mar-b-48"
                ></ag-input-text>
                <ag-input-text
                  formControlName="email"
                  [errors]="[
                    { required: 'forms.required' | translate },
                    { email: 'forms.invalidEmail' | translate }
                  ]"
                  placeholder="{{ 'forms.email' | translate }}"
                  class="col-12 mar-b-48"
                ></ag-input-text>
                <ag-input-textarea
                  formControlName="comment"
                  [errors]="[{ required: 'forms.required' | translate }]"
                  placeholder="{{ 'forms.opinion' | translate }}"
                  class="col-12 mar-b-48"
                ></ag-input-textarea>
                <div
                  class="captcha d-flex align-items-center col-12 mar-b-48"
                  *ngIf="captchaImage"
                >
                  <ag-input-text
                    formControlName="value"
                    [errors]="[{ required: 'forms.required' | translate }]"
                  ></ag-input-text>
                  <img class="mr-1" [src]="captchaImage" />
                </div>
                <p class="text-center text-success my-4" *ngIf="showSuccess">
                  {{ "forms.successRequest" | translate }}
                </p>
                <ag-button
                  class="text-center"
                  [disabled]="form.invalid"
                  [label]="
                    'buttons.request'
                      | translate: { value: fa ? 'ارسال' : 'send' }
                  "
                  type="submit"
                ></ag-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
