<div class="row social">
  <div class="container">
    <div class="row justify-content-{{ fa ? 'end' : 'start' }}">
      <div class="col-md-6">
        <div class="row justify-content-{{ fa ? 'end' : 'start' }}">
          <div class="col-md-11 col-lg-9">
            <div
              class="contact-us-form bg-white pad-32 ag-shadow-lg ag-rounded-lg"
            >
              <p>{{ "TITLES.CONTACT_US" | translate }}</p>
              <form
                class="form-row"
                [formGroup]="form"
                (ngSubmit)="onSubmitForm()"
              >
                <ag-input-text
                  formControlName="name"
                  placeholder="{{ 'TITLES.FIRST_NAME' | translate }}"
                  [errors]="[{ required: 'field is required' }]"
                  class="col-12 mar-b-48"
                ></ag-input-text>
                <ag-input-text
                  formControlName="email"
                  [errors]="[
                    { required: 'field is required' },
                    { email: 'email is invalid' }
                  ]"
                  placeholder="{{ 'TITLES.EMAIL' | translate }}"
                  class="col-12 mar-b-48"
                ></ag-input-text>
                <ag-input-textarea
                  formControlName="comment"
                  [errors]="[{ required: 'field is required' }]"
                  placeholder="{{ 'TITLES.OPINION' | translate }}"
                  class="col-12 mar-b-48"
                ></ag-input-textarea>
                <!-- <ngx-recaptcha2
                  class="col-12 mar-b-48"
                  #captchaElem
                  [siteKey]="'siteKey'"
                  (reset)="handleReset()"
                  (expire)="handleExpire()"
                  (load)="handleLoad()"
                  (success)="handleSuccess($event)"
                  [useGlobalDomain]="false"
                  formControlName="recaptcha"
                >
                </ngx-recaptcha2> -->
                <ag-button
                  label="{{ 'BUTTONS.SEND_REQUEST' | translate }}"
                  type="submit"
                ></ag-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
