<div class="row social">
  <div class="container">
    <div class="row justify-content-{{ fa ? 'end' : 'start' }}">
      <div class="col-md-6">
        <div class="row justify-content-{{ fa ? 'end' : 'start' }}">
          <div class="col-md-11 col-lg-9">
            <div
              class="contact-us-form bg-white pad-32 ag-shadow-lg ag-rounded-lg"
            >
              <p>{{ "TITLES.CONTACT_US" | translate }}</p>
              <form
                class="form-row"
                [formGroup]="form"
                (ngSubmit)="onSubmitForm()"
              >
                <ag-input-text
                  formControlName="name"
                  placeholder="{{ 'TITLES.FIRST_NAME' | translate }}"
                  [errors]="[{ required: 'این فیلد الزامیست.' }]"
                  class="col-12 mar-b-48"
                ></ag-input-text>
                <ag-input-text
                  formControlName="email"
                  [errors]="[
                    { required: 'این فیلد الزامیست.' },
                    { email: 'ایمیل نامعتبر است.' }
                  ]"
                  placeholder="{{ 'TITLES.EMAIL' | translate }}"
                  class="col-12 mar-b-48"
                ></ag-input-text>
                <ag-input-textarea
                  formControlName="comment"
                  [errors]="[{ required: 'این فیلد الزامیست.' }]"
                  placeholder="{{ 'TITLES.OPINION' | translate }}"
                  class="col-12 mar-b-48"
                ></ag-input-textarea>
                <div class="captcha d-flex align-items-center col-12 mar-b-48" *ngIf="captchaImage">
                  <ag-input-text
                  formControlName="value"
                  [errors]="[{ required: 'این فیلد الزامیست.' }]"
                  ></ag-input-text>
                  <img class="mr-1" [src]="captchaImage" />
                </div>
                <p class="text-center text-success my-4" *ngIf="showSuccess">درخواست شما با موفقیت ارسال شد</p>
                <ag-button
                class="text-center"
                  [disabled]="form.invalid"
                  label="{{ 'BUTTONS.SEND_REQUEST' | translate }}"
                  type="submit"
                ></ag-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
