@import "abstracts/mixins";

.header {
  height: 500px;
  position:relative;
  &__text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    h1 {
      @include text-style($title-color1, $font-size-xl, $font-weight: 600);
      @include medium() {
        font-size: $font-size-xxxxl;
      }
    }
  }
  img{
    height: 100%;
  }
}
