<div class="row testimonial">
  <div class="container">
    <div class="row justify-content-center">
      <ag-lined-header *ngIf="title" class="mar-b-80" [text]="title"></ag-lined-header>
      <div class="col-8 wrapper">
        <ag-carousel>
          <div class="swiper-slide p-5" *ngFor="let t of testimonials">
            <ag-testimonial-item [testimonial]="t"></ag-testimonial-item>
          </div>
        </ag-carousel>
      </div>
    </div>
  </div>
  <img class="dot" src="assets/images/dots1.png" alt="dot" />
</div>
