<div class="comment pad-y-32" [ngClass]="{ 'right-side': fa, reply: isReply }">
  <div
    class="comment__header d-flex align-items-center justify-content-between mar-b-32"
  >
    <div class="avatar d-flex align-items-center">
      <img src="assets/images/customer.png" alt="" />
      <div class="mar-{{ fa ? 'r' : 'l' }}-24">
        <div>{{ comment.user.name }}</div>
        <div
          class="d-sm-none d-flex align-items-center mar-{{
            fa ? 'l' : 'r'
          }}-16"
        >
          <ag-icon
            color="#b7b7b7"
            class="m{{ fa ? 'l' : 'l' }}-2"
            icon="fa-calendar-alt"
          ></ag-icon>
          <span class="date">{{ comment.created_at | shamsi }}</span>
        </div>
      </div>
    </div>
    <div class="additional d-flex align-items-center">
      <div
        class="align-items-center d-none d-sm-flex  mar-{{ fa ? 'l' : 'r' }}-16"
      >
        <ag-icon
          color="#b7b7b7"
          class="m{{ fa ? 'l' : 'l' }}-2"
          icon="fa-calendar-alt"
        ></ag-icon>
        <span class="date">{{ comment.created_at | shamsi }}</span>
      </div>
      <span *ngIf="!isReply" class="reply" (click)="replyClick.emit(comment)">{{
        "general.reply" | translate
      }}</span>
    </div>
  </div>
  <div class="comment__text">
    {{ comment.comment }}
  </div>
  <ag-comment-item
    [isReply]="true"
    *ngFor="let item of comment.replies"
    [comment]="item"
  ></ag-comment-item>
</div>
