<div class="wrapper">
  <div class="wrapper__input position-relative">
    <textarea
      class="wrapper__input-control w-100 py-1"
      [placeholder]="placeholder || ''"
      [value]="value"
      [disabled]="disabled"
      [readonly]="readonly"
      [attr.maxlength]="maxlength"
      [ngClass]="{ 'is-invalid': controlIsTouchedOrDirty(), filled: filled }"
      (input)="_onInput($event)"
      (blur)="_onBlur()"
      (focus)="_onFocus()"
    ></textarea>
  </div>
  <ng-container *ngFor="let error of errors">
    <div class="wrapper__error" *ngIf="hasError(error)">
      {{ getErrorMessage(error) }}
    </div>
  </ng-container>
</div>
