@import "abstracts/mixins";

.wrapper {
  &__input {
    &-control {
      border: 1px solid $field-color;
      border-radius: $radius-md;
      font-size: $font-size-md;
      outline: 0;
      height: auto;
      padding: 0.375rem 0.75rem;
      @include text-style();
      &.ng-dirty.ng-valid {
        background-color: $polarous-blue-001;
      }
      &:focus {
        border-color: $primary;
      }
      &.is-invalid {
        border-color: $orange;
      }
      &.filled {
        background-color: $polarous-blue-001;
      }
    }
  }
  &__error {
    color: $orange;
  }
}
