<div class="container-fluid pad-y-48">
  <ag-container>
    <div class="col-12 mar-b-80">
      <ag-breadcrumb [breadcrumbs]="['About','Board']"></ag-breadcrumb>
    </div>

    <div class="col-3">
      <div class="side-list bg-white ag-rounded-lg ag-shadow-lg pad-24">
        <ag-accordion>
          <ag-accordion-item icon="fa-book" title="1st Week" class="mar-b-16">
            <accordion-content>
              <ul class="courses-list list-unstyled">
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
              </ul>
            </accordion-content>
          </ag-accordion-item>
          <ag-accordion-item icon="fa-book" title="2st Week">
            <accordion-content>
              <ul class="courses-list list-unstyled">
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
                <li class="mar-t-16">
                  <a class="pad-l-24" href="#">Title of first week</a>
                </li>
              </ul>
            </accordion-content>
          </ag-accordion-item>
        </ag-accordion>
      </div>
    </div>
    <div class="col-9 content">
      <ag-course-details-header
        [showFeatures]="false"
      ></ag-course-details-header>
    </div>
  </ag-container>
</div>
