@import "abstracts/mixins";

.wrapper {
  background-color: $gray-001;
  &__header {
    &-title {
      @include text-style($title-color1, $font-size-lg, $font-weight: bold);
    }
    &-icon {
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
  &__content {
    p {
      margin: 0;
      @include text-style($title-color3, $font-size-sm, 2.29);
    }
  }
}
