<ag-container>
  <div class="col-12 mar-b-48">
    <ag-breadcrumb></ag-breadcrumb>
  </div>
</ag-container>
<ag-container>
  <div class="col-12">
    <div class="request-form ag-shadow-lg ag-rounded-lg bg-white pad-32">
      <div
        class="request-form__header pad-b-32 d-flex align-items-center"
        *ngIf="job$ | async as job"
      >
        <img [src]="job.logo" [alt]="job.title" />
        <h3 class="mar-{{ fa ? 'r' : 'l' }}-16 mb-0">
          {{ job.title }}
        </h3>
      </div>
      <form
        [formGroup]="form"
        class="form-row pad-t-32 border-top"
        (ngSubmit)="_onSubmit()"
      >
        <div class="col-sm-6 mar-b-48">
          <ag-input-text
            [errors]="[{ required: 'forms.required' | translate }]"
            formControlName="first_name"
            placeholder="{{ 'forms.firstName' | translate }}"
          ></ag-input-text>
        </div>
        <div class="col-sm-6 mar-b-48">
          <ag-input-text
            [errors]="[{ required: 'forms.required' | translate }]"
            formControlName="last_name"
            placeholder="{{ 'forms.lastName' | translate }}"
          ></ag-input-text>
        </div>
        <div class="col-sm-6 mar-b-48">
          <ag-input-datepicker
            [errors]="[{ required: 'forms.required' | translate }]"
            formControlName="birthday"
            icon="fa-calendar-alt"
            placeholder="{{ 'forms.birthDate' | translate }}"
          ></ag-input-datepicker>
        </div>
        <div class="col-sm-6 mar-b-48 d-flex align-items-center">
          <ag-input-radio
            [errors]="[{ required: 'forms.required' | translate }]"
            class="flex-grow-1"
            formControlName="gender"
            label="{{ 'forms.gender' | translate }}"
            [items]="[
              { name: 'forms.male' | translate, value: 'male' },
              { name: 'forms.female' | translate, value: 'female' }
            ]"
          ></ag-input-radio>
        </div>
        <div class="col-sm-6 mar-b-48">
          <ag-input-text
            [errors]="[
              { required: 'forms.required' | translate },
              { email: 'forms.invalidEmail' | translate }
            ]"
            formControlName="email"
            placeholder="{{ 'forms.email' | translate }}"
          ></ag-input-text>
        </div>
        <div class="col-sm-6 mar-b-48">
          <ag-input-text
            [errors]="[{ required: 'forms.required' | translate }]"
            formControlName="phone"
            placeholder="{{ 'forms.phoneNumber' | translate }}"
          ></ag-input-text>
        </div>
        <div class="col-12 mar-b-48">
          <ag-input-textarea
            [errors]="[{ required: 'forms.required' | translate }]"
            formControlName="address"
            placeholder="{{ 'forms.address' | translate }}"
          ></ag-input-textarea>
        </div>

        <div class="col-sm-6">
          <ag-input-file
            [errors]="[{ required: 'forms.required' | translate }]"
            formControlName="resume"
          ></ag-input-file>
        </div>
        <div
          class="col-sm-6 mt-5 mt-sm-0 d-flex align-items-center justify-content-center justify-content-sm-end"
        >
          <ag-button
            [disabled]="form.invalid"
            type="submit"
            [label]="'buttons.request' | translate: { value: '' }"
          ></ag-button>
        </div>
      </form>
    </div>
  </div>
</ag-container>
