<form [formGroup]="form" (ngSubmit)="onSubmitCourseEmail()">
  <ag-input-text
    formControlName="firstName"
    [errors]="[{ required: 'forms.required' | translate  }]"
    placeholder="{{ 'forms.firstName' | translate }}"
    class="mar-b-40 d-block"
  ></ag-input-text>
  <ag-input-text
    formControlName="email"
    [errors]="[
      { email: 'forms.invalidEmail' | translate },
      { required: 'forms.required' | translate }
    ]"
    placeholder="{{ 'forms.email' | translate }}"
    class="mar-b-40 d-block"
  ></ag-input-text>
  <ag-button type="submit" [label]="'buttons.submit' | translate"></ag-button>
</form>
