<ag-input-text
  theme="dp-material"
  [dpDayPicker]="config"
  [icon]="icon"
  [(ngModel)]="_date"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [readonly]="readonly"
  [minDate]="minDate"
  [maxDate]="maxDate"
  [minTime]="minTime"
  [maxTime]="maxTime"
  (onChange)="_onChange($event)"
  (open)="_onOpen()"
  (close)="_onClose()"
  (onGoToCurrent)="_onGoToCurrent()"
  (onLeftNav)="_onLeftNav()"
  (onRightNav)="_onRightNav()"
  (focus)="_onFocus()"
  (blur)="_onBlur()"
></ag-input-text>
