<div class="wrapper ag-rounded-lg pad-32">
  <div class="d-flex align-items-center teacher-text mar-b-24">
    <i class="mar-{{ fa ? 'l' : 'r' }}-16 fa-lg fal fa-chalkboard-teacher"></i>
    <span>{{ title }}</span>
  </div>
  <div class="d-flex align-items-start justify-content-between teacher-info">
    <div class="avatar d-flex flex-column flex-sm-row align-items-center">
      <img src="assets/images/customer.png" [alt]="author.name" />
      <div class="mar-t-16 mt-sm-0 mar-{{ fa ? 'r' : 'l' }}-24">
        <h5 class="mb-0">{{ author.name }}</h5>
        <h6>{{ author.email }}</h6>
      </div>
    </div>
    <div class="social">
      <i class="fa-lg fab fa-linkedin-in ag-rounded-md"></i>
    </div>
  </div>

  <div class="description mar-t-16">
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout. The point of using
    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    opposed to using 'Content here, content here', making it look like readable
    English. Many desktop publishing packages and web page editors now use Lorem
    Ipsum as their default model text.
  </div>
</div>
