@import "abstracts/mixins";
ag-input-text {
  &::ng-deep {
    input {
      border-radius: 30px !important;
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    }
    ag-icon {
      right: 4px !important;
      left: auto !important;
      i {
        background-image: linear-gradient(217deg, #44c1c3, #3ddbba);
        color: $white !important;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.header {
  img {
    width: 40px;
  }
  span {
    @include text-style($font-weight: bold, $size: 26px);
  }

  a {
    white-space: nowrap;
    &:hover {
      text-decoration: none;
      color: $primary !important;
    }
  }
}
