<ag-container [title]="title">
  <div class="col-12">
    <div class="bullets mb-5 pad-x-16">
      <div class="bullet" *ngFor="let history of histories; let i = index">
        <div
          class="bullet__circle"
          [class.active]="i <= activeSlide"
          (click)="onBulletClick(i)"
        >
          <span>
            {{ getTime(history.time) }}
          </span>
        </div>
        <div class="bullet__line"></div>
      </div>
    </div>
    <ag-carousel
      [config]="{
        allowTouchMove: false
      }"
    >
      <div class="swiper-slide p-5" *ngFor="let history of histories">
        <ag-history-item [history]="history"></ag-history-item>
      </div>
    </ag-carousel>
  </div>
</ag-container>
