<div class="row employees">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ag-lined-header *ngIf="title" class="mar-b-80" [text]="title"></ag-lined-header>
        <div class="bullets mb-5">
          <div class="bullet" *ngFor="let history of histories; let i = index">
            <div
              class="bullet__circle"
              [class.active]="i <= activeSlide"
              (click)="onBulletClick(i)"
            >
              <span>
                {{
                  "HISTORY.TIME"
                    | translate: { time: history.time | date: "yyyy" }
                }}
              </span>
            </div>
            <div class="bullet__line"></div>
          </div>
        </div>
        <ag-carousel
          [showBullets]="false"
          [showArrows]="false"
          [allowTouchMove]="false"
        >
          <div class="swiper-slide p-5" *ngFor="let history of histories">
            <ag-history-item [history]="history"></ag-history-item>
          </div>
        </ag-carousel>
      </div>
    </div>
  </div>
</div>
