<div class="container-fluid pad-t-48">
  <ag-container>
    <div class="col-12 mar-b-48">
      <ag-breadcrumb></ag-breadcrumb>
    </div>
  </ag-container>
  <ag-container title="{{'TITLES.CONSULERS' | translate }}">
    <!-- <div class="col-12 text-{{fa?'left':'right'}} mar-b-104">
      <ag-button label="{{'BUTTONS.DOWNLOAD_CHART' | translate}}"></ag-button>
    </div> -->
    <div class="col-3 mar-b-72" *ngFor="let consuler of consulers">
      <ag-employer-item [employer]="consuler"></ag-employer-item>
    </div>
  </ag-container>
</div>
