<div class="d-flex align-items-center justify-content-between" *ngIf="post">
  <h1 class="m-0" [innerHTML]="post.title"></h1>
  <div class="d-flex align-items-center card-bottom">
    <div class="d-flex align-items-center ml-3">
      <ag-icon color="#b7b7b7" class="ml-2" icon="fa-user"></ag-icon
      >{{ post.user.username }}
    </div>
    <div class="d-flex align-items-center ml-3">
      <ag-icon color="#b7b7b7" class="ml-2" icon="fa-comments"></ag-icon
      >{{ post.comments?.length || 0 }}
    </div>
    <div class="d-flex align-items-center">
      <ag-icon color="#b7b7b7" class="ml-2" icon="fa-calendar-alt"></ag-icon
      >{{ post.created_at | shamsi }}
    </div>
  </div>
</div>
<img
  class="w-100 ag-rounded-lg mar-y-32"
  [src]="post.image"
  [alt]="post.title"
/>
<div class="mb-4" [innerHTML]="post.content"></div>
