<footer class="container-fluid footer py-5">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-4 footer__description">
          <ag-logo></ag-logo>
          <p>
            {{ "FOOTER.DESCRIPTION" | translate }}
          </p>
        </div>
        <div class="col-4 footer__links">
          <h3>{{ "TITLES.LINKS" | translate }}</h3>
          <div class="row">
            <div class="col-6 mar-b-24">
              <a href="">{{ "NAVIGATIONS.PRODUCTS" | translate }}</a>
            </div>
            <div class="col-6 mar-b-24">
              <a href="">{{ "NAVIGATIONS.SOLUTIONS" | translate }}</a>
            </div>
            <div class="col-6 mar-b-24">
              <a href="">{{ "NAVIGATIONS.ACADEMY" | translate }}</a>
            </div>
            <div class="col-6 mar-b-24">
              <a href="">{{ "NAVIGATIONS.STOCKHOLDERS" | translate }}</a>
            </div>
            <div class="col-6 mar-b-24">
              <a href="">{{ "NAVIGATIONS.JOB_OPPURTINITY" | translate }}</a>
            </div>
            <div class="col-6 mar-b-24">
              <a href="">{{ "NAVIGATIONS.ABOUT_US" | translate }}</a>
            </div>
          </div>
        </div>
        <div class="col-4 footer__newsletter">
          <h3>{{ "TITLES.NEWSLETTERS" | translate }}</h3>
          <ag-newsletter-textbox
            class="d-block mar-b-48"
          ></ag-newsletter-textbox>
          <div class="row">
            <div class="col-10">
              <ag-social-networks
                [socialNetworks]="socialNetworks$ | async"
                [colored]="false"
              ></ag-social-networks>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
