<footer class="container-fluid footer pb-0 pb-md-5 pt-5">
  <div class="row">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-4 footer__description">
          <ag-logo [isWhite]="true"></ag-logo>
          <p class="text-justify mb-0">
            {{ "footer.description" | translate }}
          </p>
        </div>
        <div class="col-sm-6 col-md-4 footer__links">
          <h3>
            <!--              {{ "academy.courseOrWorkshopNameLINKS" | translate }}-->
          </h3>
          <div class="row">
            <div class="col-6 mar-b-16">
              <a routerLink="/products">{{ "agah.products" | translate }}</a>
            </div>
            <div class="col-6 mar-b-16">
              <a routerLink="/">{{ "agah.solutions" | translate }}</a>
            </div>
            <div class="col-6 mar-b-16">
              <a routerLink="/academy">{{ "agah.academy" | translate }}</a>
            </div>
            <div class="col-6 mar-b-16">
              <a routerLink="/about/stockholders">{{
                "agah.stockholders" | translate
              }}</a>
            </div>
            <div class="col-6 mar-b-16">
              <a routerLink="/job-oppurtinities">{{
                "modules.jobs.oppurtinity" | translate
              }}</a>
            </div>
            <div class="col-6 mar-b-16">
              <a routerLink="/about">{{ "agah.about" | translate }}</a>
            </div>
          </div>
        </div>
        <div
          class="col-sm-6 col-md-4 col-lg-3 mt-4 mt-md-0 footer__newsletter d-flex justify-content-end align-items-center flex-column"
        >
          <!-- <h3>{{ "news.news&EventsLETTERS" | translate }}</h3>
          <ag-newsletter-textbox
            class="d-block mar-b-48"
          ></ag-newsletter-textbox> -->

          <div
            class="namad ag-rounded-md d-flex align-items-center justify-content-center"
          >
            <a
              target="_blank"
              href="https://trustseal.enamad.ir/?id=162918&amp;Code=Zv2DIMsMwWroIJA3OEBa"
              ><img
                src="https://Trustseal.eNamad.ir/logo.aspx?id=162918&amp;Code=Zv2DIMsMwWroIJA3OEBa"
                alt="eNamad"
                style="cursor: pointer"
                id="Zv2DIMsMwWroIJA3OEBa"
            /></a>
          </div>
          <ag-social-networks
            class="mt-5"
            [socialNetworks]="socialNetworks$ | async"
            [colored]="false"
          ></ag-social-networks>
        </div>
      </div>
    </div>
  </div>
</footer>
