<div class="card border-0 ag-rounded-lg">
  <div class="card-header position-relative p-0">
    <img
      class="card-icon position-absolute rounded-circle"
      [src]="$any(course).icon"
      [alt]="course.title"
    />
    <img
      class="card-img-top img-fluid"
      [src]="course.image"
      [alt]="course.title"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">
      {{ course.title }}
    </h5>
    <p class="card-text card-desc">
      {{ course.content }}
    </p>
    <div class="d-flex align-items-center">
      <ag-button
        [routerLink]="['/courses/details', course.id]"
        [link]="true"
        [label]="'buttons.more' | translate: { value: fa ? 'اطلاعات' : 'info' }"
      ></ag-button>
    </div>
  </div>
</div>
