@import "abstracts/mixins";

.nav-item {
  .nav-link {
    @include text-style($title-color3, $font-size-md);
    &:after {
      content: none;
    }
  }
  .dropdown-menu {
    left: 0;
    right: auto;

    .dropdown-item {
      font-family: $yekan-font !important;
      @include text-style($body-color, $font-size-md);
      &-icon {
        opacity: 0;
        transform: translateX(-8px);
        transition: all 0.3s;
      }
      &:hover,
      &:active {
        background-color: transparent;
        color: $primary;
        .dropdown-item-icon {
          opacity: 1;
          transform: translateX(-3px);
        }
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
      &.active {
        color: $primary;
        background-color: transparent;
      }
    }

    &.right-side {
      left: auto;
      right: 0;
      .dropdown-item {
        &-icon {
          transform: translateX(8px);
        }
        &:hover,
        &:active {
          .dropdown-item-icon {
            transform: translateX(3px);
          }
        }
      }
    }
    @include extraSmall() {
      left: 0 !important;
      right: auto !important;
    }
  }
  &:hover,
  &.active {
    cursor: pointer;
    .nav-link,
    .nav-item-icon {
      color: $primary;
    }
  }
}
