<div class="row directors">
  <div class="directors__overlay">
    <div class="directors__overlay-bg">
      <img class="right-dots" src="assets/images/dots2.png" alt="dots" />
      <img class="left-dots" src="assets/images/dots3.png" alt="dots" />
    </div>
    <ag-button
      (click)="downloadClick.emit()"
      class="directors__overlay-button"
      label="Download"
    ></ag-button>
  </div>
  <div class="container">
    <div class="row">
      <ag-lined-header class="mar-b-80" [text]="title"></ag-lined-header>
      <div class="col-3" *ngFor="let person of personnel | slice: 0:4">
        <ag-personal-card-a
          [image]="person.image"
          [title]="person.title"
          [subtitle]="person.subtitle"
        ></ag-personal-card-a>
      </div>
    </div>
  </div>
</div>
