<ag-container class="features">
  <div class="col-6">
    <div class="features__video ag-rounded-lg">
      <div class="features__video-capture ag-rounded-lg">
        <img class="w-100" src="assets/images/company.png" alt="features" />
      </div>
      <img
        class="dots ag-rounded-lg"
        src="assets/images/dots5.png"
        alt="dots"
      />
    </div>
  </div>
  <div class="col-6">
    <ul class="list-unstyled features__list">
      <li class="mar-b-32">
        <img src="assets/images/time.png" alt="time" />
        <span>
          Conducting courses intensively
        </span>
      </li>
      <li class="mar-b-32">
        <img src="assets/images/grow.png" alt="grow" />
        <span>
          Grow your business in a short time
        </span>
      </li>
      <li class="mar-b-32">
        <img src="assets/images/save.png" alt="save" />
        <span>
          Save on your expenses
        </span>
      </li>
      <li class="mar-b-32">
        <img src="assets/images/award.png" alt="award" />
        <span>
          Awarding a valid certificate
        </span>
      </li>
    </ul>
  </div>
</ag-container>
