@import "abstracts/mixins";

.features {
  padding-top: 68px;
  &__video {
    background-color: #cceeee;
    position: relative;
    z-index: 2;

    &-capture {
      transform: translate(-45px, -45px);
      @include medium() {
        transform: translate(-68px, -68px);
      }
      z-index: 3;
    }
    .dots {
      position: absolute;
      bottom: 15px;
      right: 15px;
      z-index: -1;
    }

    &.left-side {
      .features__video-capture {
        transform: translate(68px, -68px);
      }
      .dots {
        right: auto;
        left: 15px;
      }
    }
  }

  &__list {
    @include extraSmall() {
      padding-right: 0 !important;
    }
    li {
      display: flex;
      align-items: center;
      > span {
        @include text-style($body-color, $font-size-lg);
        display: block;
      }
    }
  }
}
