<ag-container class="features">
  <div class="col-12">
    <div class="row justify-content-evently align-items-center">
      <div class="col-10 col-md-5 col-lg-6 mb-5 mb-md-0">
        <div
          class="features__video ag-rounded-lg"
          [ngClass]="{ 'left-side': en }"
        >
          <div class="features__video-capture ag-rounded-lg">
            <img class="w-100" src="assets/images/company.png" alt="features" />
          </div>
          <img
            class="dots ag-rounded-lg"
            src="assets/images/dots5.png"
            alt="dots"
          />
        </div>
      </div>
      <div class="col-md-7 col-lg-6">
        <ul class="list-unstyled features__list pad-{{ fa ? 'r' : 'l' }}-64">
          <li class="mar-b-32">
            <img
              src="assets/images/time.png"
              alt="time"
              class="mar-{{ fa ? 'l' : 'r' }}-16"
            />
            <span>
              {{ "modules.academy.features.conductingCoursesIntensively" | translate }}
            </span>
          </li>
          <li class="mar-b-32">
            <img
              src="assets/images/grow.png"
              alt="grow"
              class="mar-{{ fa ? 'l' : 'r' }}-16"
            />
            <span>
              {{ "modules.academy.features.growYourBusinessInAShortTime" | translate }}
            </span>
          </li>
          <li class="mar-b-32">
            <img
              src="assets/images/save.png"
              alt="save"
              class="mar-{{ fa ? 'l' : 'r' }}-16"
            />
            <span>
              {{ "modules.academy.features.saveOnYourExpenses" | translate }}
            </span>
          </li>
          <li class="mar-b-32">
            <img
              src="assets/images/award.png"
              alt="award"
              class="mar-{{ fa ? 'l' : 'r' }}-16"
            />
            <span>
              {{ "modules.academy.features.awardingAValidCertificate" | translate }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ag-container>
