<div class="container-fluid pad-t-48 pad-b-156">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ag-breadcrumb [breadcrumbs]="['About','Contact Us']"></ag-breadcrumb>
        </div>
      </div>
    </div>
  </div>
  <ag-contact-us class="mar-b-80"></ag-contact-us>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="bg-white ag-rounded-lg ag-shadow-lg pad-32">
            <ul class="list-unstyled contact m-0">
              <li class="d-flex align-items-center mar-b-48">
                <ag-icon
                  color="#44c1c3"
                  icon="fa-map-marker-alt"
                  stylePrefix="fal"
                  size="2x"
                ></ag-icon
                ><span class="ml-2">Mirdamad St, 4 Alley, 138 No</span>
              </li>
              <li class="d-flex align-items-center mar-b-48">
                <ag-icon
                  stylePrefix="fal"
                  size="2x"
                  color="#44c1c3"
                  icon="fa-phone"
                ></ag-icon
                ><span class="ml-2">021- 88327832-4</span>
              </li>
              <li class="d-flex align-items-center mar-b-48">
                <ag-icon
                  size="2x"
                  color="#44c1c3"
                  icon="fa-envelope"
                  stylePrefix="fal"
                ></ag-icon
                ><span class="ml-2">info@myagah.com</span>
              </li>
            </ul>

            <ag-social-networks
              [socialNetworks]="socialNetworks$ | async"
            ></ag-social-networks>
          </div>
        </div>
        <div class="col-7">
          <div
            class="ag-shadow-lg h-100"
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="layers"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
