<div class="container-fluid pad-t-48 pad-b-156" *ngIf="contactUsInfo">
  <ag-container>
    <div class="col-12">
      <ag-breadcrumb></ag-breadcrumb>
    </div>
  </ag-container>
  <ag-contact-us class="mar-b-80"></ag-contact-us>
  <ag-container>
    <div class="col-md-7 col-lg-5 mb-4 mb-md-0">
      <div class="bg-white ag-rounded-lg ag-shadow-lg pad-32">
        <ul class="list-unstyled contact m-0">
          <li class="d-flex align-items-start mar-b-48">
            <ag-icon
              color="#44c1c3"
              icon="fa-map-marker-alt"
              stylePrefix="fal"
              size="2x"
            ></ag-icon
            ><span class="m{{fa ? 'r' : 'l'}}-2"
              >{{contactUsInfo.address}}</span
            >
          </li>
          <li class="mar-b-48 phone">
            <a
              class="d-flex align-items-center"
              href="tel:{{contactUsInfo.phone}}"
            >
              <ag-icon
                stylePrefix="fal"
                size="2x"
                color="#44c1c3"
                icon="fa-phone"
              ></ag-icon
              ><span class="m{{fa ? 'r' : 'l'}}-2"
                >{{contactUsInfo.phone}}</span
              >
            </a>
          </li>
          <li class="mar-b-48">
            <a
              class="d-flex align-items-center"
              href="mailto:{{contactUsInfo.email}}"
            >
              <ag-icon
                size="2x"
                color="#44c1c3"
                icon="fa-envelope"
                stylePrefix="fal"
              ></ag-icon
              ><span class="m{{fa ? 'r' : 'l'}}-2"
                >{{contactUsInfo.email}}</span
              >
            </a>
          </li>
        </ul>

        <ag-social-networks
          [socialNetworks]="socialNetworks$ | async"
        ></ag-social-networks>
      </div>
    </div>
    <div class="map col-md-5 col-lg-7">
      <div
        class="ag-shadow-lg h-100 w-100"
        leaflet
        [leafletOptions]="options"
        [leafletLayers]="layers"
      ></div>
    </div>
  </ag-container>
</div>
