<div class="container-fluid education ag-rounded-lg">
  <div class="row">
    <div
      class="col-5 ag-rounded-lg education__mask d-flex align-items-center justify-content-start"
    >
      <img class="mar-l-32" src="assets/images/education.png" alt="" />
    </div>
    <div
      class="col-6 pad-y-40 education__input d-flex align-items-center position-relative"
    >
      <div class="flex-grow-1">
        <p class="mar-b-40">Enter your email for our education news</p>
        <ag-input-text
          placeholder="Name"
          class="mar-b-40 d-block"
        ></ag-input-text>
        <ag-input-text
          placeholder="Email"
          class="mar-b-40 d-block"
        ></ag-input-text>
        <ag-button type="submit" label="Submit"></ag-button>
      </div>
    </div>
  </div>
</div>
