<div class="container-fluid pad-t-48">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-12 mar-b-40">
          <ag-breadcrumb [breadcrumbs]="['About','Board']"></ag-breadcrumb>
        </div>
      </div>
      <div class="row justify-content-around mar-b-80">
        <div class="col-6">
          <ag-input-text
            placeholder="Course name, Blog post, ..."
            dir="ltr"
            icon="fa-search"
          ></ag-input-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mar-b-80">
          <ag-lined-header text="Featured Post"></ag-lined-header>
        </div>
      </div>
      <div class="row mar-b-80">
        <div class="col-8">
          <ag-course-item [course]="course"></ag-course-item>
        </div>
        <div class="col-4 d-flex">
          <div class="row">
            <div class="col-12 mb-5">
              <ag-course-item [course]="course"></ag-course-item>
            </div>
            <div class="col-12">
              <ag-course-item [course]="course"></ag-course-item>
            </div>
          </div>
        </div>
      </div>
      <div class="row header mar-b-48">
        <div class="col-10 d-flex align-items-center">
          <img src="assets/images/save.png" alt="" />
          <span class="ml-2">Business Courses</span>
        </div>
        <div class="col-2 d-flex align-items-center">
          <a href="" class="d-flex align-items-center text-dark"
            >See More<ag-icon icon="fa-chevron-right" class="ml-2"></ag-icon>
          </a>
        </div>
      </div>

      <ag-cards class="mar-b-156 d-block" [cardItems]="blogPosts$ | async"></ag-cards>

      <div class="row header mar-b-48">
        <div class="col-10 d-flex align-items-center">
          <img src="assets/images/save.png" alt="" />
          <span class="ml-2">Business Courses</span>
        </div>
        <div class="col-2 d-flex align-items-center">
          <a href="" class="d-flex align-items-center text-dark"
            >See More<ag-icon icon="fa-chevron-right" class="ml-2"></ag-icon>
          </a>
        </div>
      </div>

      <ag-cards class="mar-b-156 d-block" [cardItems]="blogPosts$ | async"></ag-cards>
    </div>
  </div>
</div>
