<nav
  class="navbar navbar-expand-lg navbar-light fixed-top"
  [class.shadow-sm]="isScrolled"
  [ngClass]="{
    'bg-white shadow-sm': isScrolled || isOpen,
    'is-not-home': !isHomePage
  }"
>
  <div class="container">
    <a class="navbar-brand" href="#"><ag-logo></ag-logo></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: isOpen }">
      <ul class="navbar-nav w-100">
        <li class="nav-item mar-r-32">
          <a
            class="nav-link"
            [routerLink]="['/products']"
            routerLinkActive="active"
          >
            Products
          </a>
        </li>
        <li class="nav-item mar-r-32">
          <a class="nav-link" href="#">Solutions</a>
        </li>
        <li class="nav-item mar-r-32">
          <a class="nav-link" routerLinkActive="active" routerLink="/academy"
            >Academy</a
          >
        </li>
        <li class="nav-item mar-r-32">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/stockholders"
            >Stockholders</a
          >
        </li>
        <li class="nav-item mar-r-32">
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/job-oppurtinities"
            >Job Oppurtinity</a
          >
        </li>
        <ag-dropdown
          title="About Us"
          [list]="[
            { text: 'About Us', routerLink: '/about', exact: true },
            { text: 'History', routerLink: '/about/history' },
            { text: 'Board', routerLink: '/about/board' },
            { text: 'Employees', routerLink: '/about/employees' },
            { text: 'Stockholders', routerLink: '/about/stockholders' },
            { text: 'Contact Us', routerLink: '/about/contact-us' }
          ]"
        >
        </ag-dropdown>
        <li class="nav-item flex-grow-1"></li>
        <ag-dropdown
          [title]="selectedLang"
          icon="fas fa-globe-americas"
          iconPos="start"
          [list]="[{ text: 'Fa' }, { text: 'En' }]"
          (listItemClick)="changeLang($event)"
        >
        </ag-dropdown>
      </ul>
    </div>
  </div>
</nav>
