<nav
  class="navbar navbar-expand-xl navbar-light fixed-top"
  [class.shadow-sm]="isScrolled"
  [ngClass]="{
    opened: isOpen,
    'bg-white shadow-sm': isScrolled || isOpen,
    'is-not-home': !isHomePage
  }"
>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between logo">
      <div class="flex-grow-1 toggler-wrapper">
        <button
          class="navbar-toggler border-0"
          type="button"
          (click)="toggleNavbar()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a
          class="navbar-brand mar-{{ fa ? 'l' : 'r' }}-32"
          (click)="navigate('/')"
        >
          <ag-logo></ag-logo>
        </a>
      </div>
      <ag-dropdown
        class="d-block d-xl-none list-unstyled"
        [title]="selectedLang"
        icon="fas fa-globe-americas"
        iconPos="start"
        [list]="[
          { text: 'فارسی', routerLink: null },
          { text: 'English', routerLink: null }
        ]"
        (listItemClick)="changeLang($event)"
      >
      </ag-dropdown>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{ show: isOpen }">
      <ul class="navbar-nav w-100 p-0">
        <li class="nav-item mar-{{ en ? 'r' : 'l' }}-32">
          <a
            class="nav-link"
            (click)="navigate('/')"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ "NAVIGATIONS.HOME" | translate }}
          </a>
        </li>
        <li class="nav-item mar-{{ en ? 'r' : 'l' }}-32">
          <a
            class="nav-link"
            (click)="navigate('/products')"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ "NAVIGATIONS.PRODUCTS" | translate }}
          </a>
        </li>
        <!-- <li class="nav-item mar-{{ en ? 'r' : 'l' }}-32">
          <a class="nav-link" href="#">{{
            "NAVIGATIONS.SOLUTIONS" | translate
          }}</a>
        </li> -->
        <li class="nav-item mar-{{ en ? 'r' : 'l' }}-32">
          <a
            class="nav-link"
            (click)="navigate('/academy')"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ "NAVIGATIONS.ACADEMY" | translate }}</a
          >
        </li>
        <li class="nav-item mar-{{ en ? 'r' : 'l' }}-32">
          <a
            class="nav-link"
            (click)="navigate('/job-oppurtinities')"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ "NAVIGATIONS.JOB_OPPURTINITY" | translate }}</a
          >
        </li>
        <ag-dropdown
          (listItemClick)="closeNavbar()"
          class="mar-{{ en ? 'r' : 'l' }}-32"
          title="{{ 'NAVIGATIONS.ABOUT_US' | translate }}"
          [list]="[
            {
              text: 'NAVIGATIONS.ABOUT_US' | translate,
              routerLink: '/about',
              exact: true
            },
            {
              text: 'NAVIGATIONS.HISTORY' | translate,
              routerLink: '/about/history'
            },
            {
              text: 'NAVIGATIONS.DIRECTORS' | translate,
              routerLink: '/about/directors'
            },
            {
              text: 'NAVIGATIONS.STOCKHOLDERS' | translate,
              routerLink: '/about/stockholders'
            },
            {
              text: 'NAVIGATIONS.CONSULERS' | translate,
              routerLink: '/about/consulers'
            },
            {
              text: 'NAVIGATIONS.EMPLOYEES' | translate,
              routerLink: '/about/employees'
            },
            {
              text: 'NAVIGATIONS.CONTACT_US' | translate,
              routerLink: '/about/contact-us'
            }
          ]"
        >
        </ag-dropdown>
        <li class="nav-item flex-grow-1"></li>
        <ag-dropdown
          class="d-none d-xl-block"
          [title]="selectedLang"
          icon="fas fa-globe-americas"
          iconPos="start"
          [list]="[
            { text: 'فارسی', routerLink: null },
            { text: 'English', routerLink: null }
          ]"
          (listItemClick)="changeLang($event)"
        >
        </ag-dropdown>
      </ul>
    </div>
  </div>
</nav>
