@import "abstracts/mixins";

.navbar {
  background-image: linear-gradient(to bottom, $white, rgba(255, 255, 255, 0));
  background-color: transparent;
  z-index: 1000;
  transition: all 0.4s;
  .nav-item {
    .nav-link {
      @include text-style($title-color3, $font-size-md);
      padding-left: 0;
      padding-right: 0;
      &:hover,
      &.active {
        color: $primary;
      }
    }
  }
  &.expanded {
    background-color: $white !important;
  }
  &.is-not-home {
    background-color: $white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
}
