<div class="row employers">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ag-lined-header class="mar-b-80" text="Agah Eemployers"></ag-lined-header>
      </div>
      <div
        class="col"
        [class.first-row-even]="even"
        *ngFor="let employer of employers | slice: 0:5; let even = even"
      >
        <ag-personal-card-b
          [image]="employer.image"
          [title]="employer.name"
          [subtitle]="employer.post"
        ></ag-personal-card-b>
      </div>
      <div class="w-100"></div>

      <div
        [class.second-row-even]="even"
        class="col"
        *ngFor="let employer of employers | slice: 5:10; let even = even"
      >
        <ag-personal-card-b
          [image]="employer.image"
          [title]="employer.name"
          [subtitle]="employer.post"
        ></ag-personal-card-b>
      </div>
    </div>
    <ag-button class="text-center mt-3" [raised]="true" label="Login"></ag-button>
  </div>
</div>
