<div class="card border-0 ag-rounded-lg">
  <div class="card-header p-0">
    <img class="card-img-top img-fluid" [src]="news.image" [alt]="news.title" />
  </div>
  <div class="card-body">
    <h5 class="card-title" [innerHTML]="news.title"></h5>
    <div class="card-text card-desc" [innerHTML]="news.summary"></div>
    <div class="d-flex align-items-center">
      <ag-button
        [routerLink]="['/news/details', news.id]"
        [link]="true"
        [label]="'buttons.more' | translate: { value: fa ? 'اطلاعات' : 'info' }"
      ></ag-button>
    </div>
  </div>
</div>
