@import "abstracts/mixins";

:host {
  width: 100%;
  display: block;
}
h3 {
  @include text-style($title-color1, $font-size-xxxl, $font-weight: bold);
  position: relative;
  img {
    width: 164px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
