<div
  class="row vision"
  [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }"
  [ngClass]="{ 'for-about-page pad-t-48': forAbout, 'pad-t-156': forHome }"
>
  <div class="container">
    <div class="row">
      <div class="col-12 mar-b-48" *ngIf="forAbout">
        <ag-breadcrumb></ag-breadcrumb>
      </div>
      <div class="col-12">
        <div
          class="vision__text"
          [ngClass]="{ 'pad-t-56 pad-x-56 pad-b-40': forAbout }"
        >
          <div class="row justify-content-center">
            <div
              class="col"
              [ngClass]="{ 'col-md-10': forHome, 'col-md-12': forAbout }"
            >
              <ag-lined-header
                class="mar-b-24"
                [ngClass]="{ 'mar-b-80': forHome }"
                [text]="title"
              ></ag-lined-header>
              <div
                *ngIf="vision"
                class="text-right"
                [innerHTML]="vision[0].text"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ag-departments
  [departments]="departments"
  *ngIf="departments"
></ag-departments>
