@import "abstracts/mixins";

.side-list {
  position: sticky;
  overflow-x: auto;
  @include large() {
    overflow: hidden;
    margin-top: 70px;
    top: 105px;
    box-shadow: 0 10px 20px 0 rgba(68, 193, 195, 0.3);
    border-radius: 20px;
  }
  ul {
    padding: 0;
    margin: 0;
    @include large() {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    li {
      @include text-style($title-color3, $font-size-md);
      cursor: pointer;
      position: relative;
      border-radius: 0 7px 7px 0;
      max-width: 240px;
      white-space: nowrap;
      i {
        width: 24px;
        text-align: center;
      }
      &.active {
        color: $primary;
      }
      @include large() {
        font-size: $font-size-lg;
        &:not(:last-child) {
          margin-bottom: 40px;
          &:after {
            content: "";
            position: absolute;
            left: -8px;
            width: 8px;
            background-color: $primary;
            height: 100%;
            transition: all 0.4s;
            border-radius: 0 10px 10px 0;
          }
        }
        &.active {
          &:after {
            left: 0;
          }
        }
      }
    }
  }
  &.right-side {
    li {
      &:not(:last-child):after {
        left: auto;
        right: -8px;
        border-radius: 10px 0 0 10px !important;
      }
      &.active {
        &:after {
          left: auto;
          right: 0;
        }
      }
    }
  }
}
.content {
  .comments {
    border: 1px solid #d4d4d4;
    ag-comment-item:last-child ::ng-deep .comment {
      border-bottom: 0;
    }

    .comment-text {
      color: #d4d4d4;
      @include text-style($gray-002, $font-size-lg, $font-weight: 600);
    }
  }
}

a {
  color: blue;
  transition: color 0.2s ease-in-out;
}

a.active {
  color: darkblue;
}

.side-list-wrapper {
  z-index: 200;
  position: sticky;
  top: 90px;
  @include large() {
    position: static;
  }
}

.fixed-bottom ::ng-deep button {
  height: 60px;
  width: 100%;
}
