<div class="row request">
  <div class="container">
    <div
      class="row justify-content-center align-items-center flex-column-reverse flex-md-row"
    >
      <div class="col-md-7 col-lg-6 col-xl-5">
        <img class="img-fluid" src="assets/images/company.png" alt="Agah" />
      </div>
      <div class="col-md-5 text-center">
        <h4 class="mb-4">
          {{ "modules.jobs.joinUs" | translate }}
        </h4>
        <p>{{ "modules.jobs.joinDescription" | translate }}</p>
        <ag-button
          class="mb-4 mb-lg-0"
          routerLink="/job-oppurtinities"
          [label]="
            'buttons.request' | translate: { value: fa ? 'ارسال ' : 'send' }
          "
          [outline]="true"
          [raised]="true"
        ></ag-button>
      </div>
    </div>
  </div>
</div>
