<div class="row request">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-5">
        <img class="img-fluid" src="assets/images/company.png" alt="Agah" />
      </div>
      <div class="col-5 text-center">
        <p>{{ "TITLES.JOB_REQUEST" | translate }}</p>
        <ag-button
          label="{{ 'BUTTONS.SEND_REQUEST' | translate }}"
          [outline]="true"
          [raised]="true"
        ></ag-button>
      </div>
    </div>
  </div>
</div>
