<div class="container-fluid px-0 social" [class.colored]="colored">
  <div class="row justify-content-around">
    <a href="" class="rounded-circle">
      <div
        class="social__icon-linkedin rounded-circle"
        [ngClass]="{ 'ag-shadow-lg mr-3': colored, 'col-3': !colored }"
      >
        <i class="fab fa-linkedin-in fa-2x"></i>
      </div>
    </a>
    <a href="" class="rounded-circle">
      <div
        class="social__icon-twitter rounded-circle"
        [ngClass]="{ 'ag-shadow-lg mr-3': colored, 'col-3': !colored }"
      >
        <i class="fab fa-twitter fa-2x"></i>
      </div>
    </a>
    <a href="" class="rounded-circle">
      <div
        class="social__icon-instagram rounded-circle"
        [ngClass]="{ 'ag-shadow-lg mr-3': colored, 'col-3': !colored }"
      >
        <i class="fab fa-instagram fa-2x"></i>
      </div>
    </a>
    <a href="" class="rounded-circle">
      <div
        class="social__icon-facebook rounded-circle"
        [ngClass]="{ 'ag-shadow-lg mr-3': colored, 'col-3': !colored }"
      >
        <i class="fab fa-facebook-f fa-2x"></i>
      </div>
    </a>
  </div>
</div>
