<div class="job-oppurtinity-item pad-x-32 ag-shadow-sm ag-rounded-lg bg-white">
  <div class="job-oppurtinity-item__header d-flex align-items-center pad-y-32">
    <img class="mar-{{ fa ? 'l' : 'r' }}-32" [src]="job.logo" />
    <h6 class="mar-{{ fa ? 'l' : 'r' }}-32">{{ job.title }}</h6>
    <span class="desription d-none d-md-block">{{ job.description }}</span>
    <div class="flex-grow-1"></div>
    <div class="d-flex align-items-center more" (click)="onToggle()">
      <span class="d-none d-sm-block">{{
        expanded ? ("general.less" | translate) : ("general.more" | translate)
      }}</span>
      <i
        class="fal fa-chevron-{{ expanded ? 'up' : 'down' }} m{{
          fa ? 'r' : 'l'
        }}-2"
      ></i>
    </div>
  </div>
  <div
    class="content-wrapper"
    [@toggle]="expanded"
    *ngIf="$any(job).details.length != 0"
  >
    <div #content class="job-oppurtinity-item__content pad-y-32 border-top">
      <ag-button
        [raised]="false"
        class="position-absolute"
        [ngClass]="{ 'right-side': fa }"
        [label]="'buttons.request' | translate: { value: fa ? 'فرم' : 'form' }"
        [routerLink]="['/job-oppurtinities/job-request', job.id]"
      ></ag-button>
      <ul class="list-unstyled p-0">
        <li
          class="job-oppurtinity-item__content--property mar-b-48"
          *ngFor="let jobDetail of $any(job).details"
        >
          <div class="d-flex align-items-center mar-b-16">
            <img [src]="jobDetail.logo" [alt]="jobDetail.title" />
            <h6 class="mar-{{ fa ? 'r' : 'l' }}-16 mb-0">
              {{ jobDetail.title }}
            </h6>
          </div>
          <ul class="list-unstyled p-0">
            <li
              class="d-flex align-items-center"
              *ngFor="let jobDetailItem of jobDetail.details"
            >
              <ag-icon color="green" size="1x" icon="fa-check"></ag-icon>
              <span class="mar-{{ fa ? 'r' : 'l' }}-16">{{
                jobDetailItem
              }}</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
