@import "abstracts/mixins";
:host {
  display: block;
}
.job-oppurtinity-item {
  &__header {
    img {
      width: 64px;
    }

    h6 {
      @include text-style($title-color3, $font-size-lg, $font-weight: 600);
      margin-bottom: 0;
    }

    .more {
      @include text-style($primary);
      cursor: pointer;
    }
  }

  &__content {
    position: relative;
    ag-button {
      left: 50%;
      transform: translateX(-50%);
      @include small() {
        transform: translate(0);
        top: 34px;
        right: 0;
        left: auto;
        &.right-side {
          right: auto;
          left: 0;
        }
      }
    }

    > ul {
      margin-top: 55px;
      @include small() {
        margin-top: 0;
      }
    }
    &--property {
      h6 {
        @include text-style($title-color3, $font-size-lg);
      }
      img,
      ag-icon {
        width: 48px;
      }
    }
  }

  .content-wrapper {
    overflow: hidden;
    transition: all 0.4s;
  }
}
