<div class="employee text-center ag-rounded-lg pad-y-24">
  <div class="employee__image rounded-circle">
    <img
      class="rounded-circle w-100 h-100"
      [src]="employee.image"
      [alt]="employeeFullName"
    />
  </div>
  <p class="employee__name mar-t-24 mar-b-34">
    {{ employeeFullName }}
  </p>
  <p class="employee__post">
    {{ $any(employee).position.title }}
  </p>
  <div class="employee__social">
    <a [href]="employee?.social_accounts?.linkedin" target="_blank">
      <ag-icon
        stylePrefix="fab"
        color="#3069cc"
        size="2x"
        icon="fa-linkedin-in"
      ></ag-icon
    ></a>
  </div>
</div>
