<div class="container-fluid pad-t-48 pad-b-156">
  <ag-container *ngIf="post">
    <div class="col-12">
      <ag-breadcrumb class="mar-b-80"></ag-breadcrumb>
      <div class="row justify-content-center">
        <div class="col-10">
          <section class="mar-b-132">
            <ag-post-details-header [post]="post"></ag-post-details-header>
            <ag-tags [tags]="post.tags" class="mar-b-40"></ag-tags>
            <div
              class="d-flex flex-column flex-lg-row align-items-center justify-content-between mar-b-64"
            >
              <ag-share></ag-share>
              <div
                class="short-link mt-5 mt-lg-0 px-4 py-2 rounded-pill border"
              >
                <span class="mar-{{fa ? 'l' : 'r'}}-56"
                  >{{'general.shortLink' | translate}}</span
                >
                <span class="link">{{post.short_link}}</span>
              </div>
            </div>
            <ag-author
              [author]="post.user"
              title="{{'modules.posts.owner' | translate}}"
            ></ag-author>
          </section>
          <section #commentForm>
            <ag-comment-form
              [replyComment]="replyComment"
              (submit)="onSubmitComment($event)"
              (cancelReply)="onCancelReply()"
            ></ag-comment-form>
            <p class="text-center text-success my-4" *ngIf="showSuccess">
              {{ "forms.successRequest" | translate }}
            </p>
          </section>
          <div class="divider w-100 mar-y-40"></div>
          <section class="mar-b-156">
            <ag-comment-item
              (replyClick)="onReplyClick($event,commentForm)"
              [comment]="comment"
              *ngFor="let comment of post.comments"
            ></ag-comment-item>
          </section>
        </div>
      </div>
    </div>
  </ag-container>
  <ag-container
    title="{{'modules.posts.blogPosts' | translate}}"
    *ngIf="posts$ | async"
  >
    <ag-carousel
      [config]="{spaceBetween:15, breakpoints: { '575': { slidesPerView: 2 }, '992': { slidesPerView: 3, allowTouchMove:false }}}"
      class="col-12"
    >
      <div class="swiper-slide px-2 py-4" *ngFor="let post of posts$ | async">
        <ag-post-item [post]="post"></ag-post-item>
      </div>
    </ag-carousel>
  </ag-container>
</div>
