<div class="d-flex align-items-center justify-content-between">
  <h1 class="m-0">{{ news.title }}</h1>
  <div class="d-flex align-items-center card-bottom">
    <div class="d-flex align-items-center ml-3">
      <ag-icon color="#b7b7b7" class="ml-2" icon="fa-user"></ag-icon
      >{{ news.user.name }}
    </div>
    <div class="d-flex align-items-center">
      <ag-icon color="#b7b7b7" class="ml-2" icon="fa-calendar-alt"></ag-icon
      >{{ news.created_at | date: "M/d/yyyy" }}
    </div>
  </div>
</div>
<img
  class="w-100 ag-rounded-lg mar-y-32"
  [src]="news.image"
  [alt]="news.title"
/>
<div class="mb-3">
  {{ news.content }}
</div>
