@import "abstracts/mixins";

.wrapper {
  &__input {
    &-control {
      border: 1px solid $field-color;
      font-size: $font-size-md;
      outline: 0;
      height: auto;
      padding: 0.375rem 0.75rem;
      @include text-style();
      border-radius: $radius-md;
      &.ng-dirty.ng-valid {
        background-color: $polarous-blue-001;
      }
      &:focus {
        border-color: $primary;
      }
      &.is-invalid {
        border-color: $orange;
      }
      &.filled {
        background-color: $polarous-blue-001;
      }
    }
    &-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: $body-color;
    }

    &.icon-right {
      input {
        padding-right: 2rem !important;
      }
      .wrapper__input-icon {
        right: 0.5rem;
      }
    }
    &.icon-left {
      input {
        padding-left: 2rem !important;
      }
      .wrapper__input-icon {
        left: 0.5rem;
      }
    }

  }
  &__error {
    color: $orange;
  }
}
