@import "abstracts/mixins";

:host {
  display: block;
}

.row {
  > div {
    text-align: center;
    &.move {
      margin-top: -32px;
    }

    span {
      @include text-style($body-color, $font-size-lg);
    }

    img {
      width: 45px;
      margin-bottom: 16px;
      @include medium(){
        margin-bottom: 32px;
      }
    }
  }
}
