<div class="container-fluid">
  <div class="row pad-t-32 justify-content-center">
    <div class="col-md-3 col-6 move mb-5 mb-md-0">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/people.png" alt="people" />
        <span>1200 Participate</span>
      </div>
    </div>
    <div class="col-md-3 col-6 mb-5 mb-md-0">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/language.png" alt="language" />
        <span>100% online</span>
      </div>
    </div>
    <div class="col-md-3 col-6 move mb-5 mb-md-0">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/clock.png" alt="clock" />
        <span>40 Hours</span>
      </div>
    </div>
    <div class="col-md-3 col-6 mb-5 mb-md-0">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/school.png" alt="school" />
        <span>Certificate</span>
      </div>
    </div>
  </div>
</div>
