<div class="container-fluid">
  <div class="row pad-t-32 justify-content-center">
    <div class="col-3 move">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/people.png" class="mar-b-32" alt="people" />
        <span>1200 Participate</span>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/language.png" class="mar-b-32" alt="language" />
        <span>100% online</span>
      </div>
    </div>
    <div class="col-3 move">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/clock.png" class="mar-b-32" alt="clock" />
        <span>40 Hours</span>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex flex-column align-items-center">
        <img src="assets/images/school.png" class="mar-b-32" alt="school" />
        <span>Certificate</span>
      </div>
    </div>
  </div>
</div>
