<div class="container-fluid">
  <section>
    <ag-header title="{{'TITLES.AGAH' | translate}}"></ag-header>
  </section>
  <section class="mar-t-56">
    <div class="row">
      <div class="container products">
        <div class="row">
          <div class="col-12">
            <ag-lined-header
              class="mar-b-80"
              text="{{'TITLES.PRODUCTS' | translate}}"
            ></ag-lined-header>
            <ag-product-list [products]="products$ | async"></ag-product-list>
            <div class="text-center">
              <ag-button
                class="mar-t-56"
                [outline]="true"
                [raised]="true"
                label="{{'BUTTONS.PRODUCTS_SEE_MORE' | translate}}"
              ></ag-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <ag-vision [vision]="vision$ | async"></ag-vision>
  </section>
  <section class="mar-t-156">
    <ag-employers
      title="{{'TITLES.DIRECTORS' | translate}}"
      [employers]="directors$ | async"
    ></ag-employers>
  </section>
  <section class="pad-t-156">
    <ag-testimonials
      title="{{'TITLES.TESTIMONIALS' | translate}}"
      [testimonials]="testimonials$ | async"
    ></ag-testimonials>
  </section>
  <section class="mar-t-156">
    <ag-request></ag-request>
  </section>
  <section class="mar-t-156">
    <ag-cards
      title="{{'TITLES.BLOGS' | translate}}"
      [cardItems]="blogPosts$ | async"
    ></ag-cards>
    <ag-button
      class="mar-t-80 text-center"
      label="{{'BUTTONS.BLOGS_SEE_MORE' | translate}}"
      [raised]="true"
      [outline]="true"
    ></ag-button>
  </section>
  <section class="mar-t-156 mar-b-156">
    <ag-follow-us></ag-follow-us>
  </section>
</div>
