<div class="container-fluid">
  <section>
    <ag-header title="{{'agah.title' | translate}}"></ag-header>
  </section>
  <section class="mar-t-56">
    <ag-container title="{{'modules.products.ourProducts' | translate}}">
      <div class="col-12">
        <ag-product-list [products]="products$ | async"></ag-product-list>
        <ag-button
          class="mar-t-56 text-center"
          [outline]="true"
          [raised]="true"
          routerLink="/products"
          [label]="'buttons.seeMore' | translate:{value:fa ? 'پروژه های بیشتر':'products'}"
        ></ag-button>
      </div>
    </ag-container>
  </section>
  <section>
    <ag-vision
      [departments]="departments$ | async"
      [vision]="vision$ | async"
      title="{{ 'agah.vision' | translate }}"
    ></ag-vision>
  </section>
  <section class="mar-t-156">
    <ag-directors
      title="{{'agah.boardOfDirectors' | translate}}"
      [buttonLabel]="'buttons.all' | translate:{value: fa ? 'اعضای هیئت مدیره':'directors'}"
      buttonRouterLink="/about/directors"
      [directors]="directors$ | async"
    ></ag-directors>
  </section>
  <section class="pad-t-156">
    <ag-testimonials
      title="{{'agah.testimonials' | translate}}"
      [testimonials]="testimonials$ | async"
    ></ag-testimonials>
  </section>
  <section class="mar-t-156">
    <ag-request></ag-request>
  </section>
  <section class="mar-t-156">
    <ag-container
      title="{{'modules.posts.blogPosts' | translate}}"
      *ngIf="featuredPosts"
    >
      <ag-carousel
        [config]="{spaceBetween:15, breakpoints: { '575': { slidesPerView: 2 }, '992': { slidesPerView: 3, allowTouchMove:false }}}"
        class="col-12"
      >
        <div
          class="swiper-slide px-2 py-4"
          *ngFor="let post of (featuredPosts | slice: 0:3)"
        >
          <ag-post-item [post]="post"></ag-post-item>
        </div>
      </ag-carousel>
    </ag-container>
    <ag-button
      class="mar-t-80 text-center"
      [label]="'buttons.seeMore' | translate:{value : fa ? 'مطالب بیشتر':'more posts'}"
      routerLink="/posts"
      [raised]="true"
      [outline]="true"
    ></ag-button>
  </section>
  <section class="mar-t-156 mar-b-156">
    <ag-follow-us></ag-follow-us>
  </section>
</div>
