<div class="container-fluid">
  <section>
    <ag-header title="{{'TITLES.AGAH' | translate}}"></ag-header>
  </section>
  <section class="mar-t-56">
    <ag-container title="{{'TITLES.OUR_PRODUCTS' | translate}}">
      <div class="col-12">
        <ag-product-list [products]="products$ | async"></ag-product-list>
        <ag-button
          class="mar-t-56 text-center"
          [outline]="true"
          [raised]="true"
          routerLink="/products"
          label="{{'BUTTONS.PRODUCTS_SEE_MORE' | translate}}"
        ></ag-button>
      </div>
    </ag-container>
  </section>
  <section>
    <ag-vision
      [departments]="departments$ | async"
      [vision]="vision$ | async"
      title="{{ 'TITLES.VISION' | translate }}"
    ></ag-vision>
  </section>
  <section class="mar-t-156">
    <ag-directors
      title="{{'TITLES.DIRECTORS' | translate}}"
      buttonLabel="{{ 'BUTTONS.DIRECTORS_MORE' | translate }}"
      buttonRouterLink="/about/directors"
      [directors]="directors$ | async"
    ></ag-directors>
  </section>
  <section class="pad-t-156">
    <ag-testimonials
      title="{{'TITLES.TESTIMONIALS' | translate}}"
      [testimonials]="testimonials$ | async"
    ></ag-testimonials>
  </section>
  <section class="mar-t-156">
    <ag-request></ag-request>
  </section>
  <section class="mar-t-156">
    <ag-container
      title="{{'TITLES.BLOG_POSTS' | translate}}"
      *ngIf="posts$ | async"
    >
      <ag-carousel
        [config]="{spaceBetween:15, breakpoints: { '575': { slidesPerView: 2 }, '992': { slidesPerView: 3, allowTouchMove:false }}}"
        class="col-12"
      >
        <div
          class="swiper-slide px-2 py-4"
          *ngFor="let post of ((posts$ | async) | slice: 0:3)"
        >
          <ag-post-item [post]="post"></ag-post-item>
        </div>
      </ag-carousel>
    </ag-container>
    <ag-button
      class="mar-t-80 text-center"
      label="{{'BUTTONS.POSTS_SEE_MORE' | translate}}"
      routerLink="/posts"
      [raised]="true"
      [outline]="true"
    ></ag-button>
  </section>
  <section class="mar-t-156 mar-b-156">
    <ag-follow-us></ag-follow-us>
  </section>
</div>
