@import "abstracts/mixins";

:host {
  display: block;
  margin-bottom: 162px;
}

.employers {
  position: relative;
  img {
    position: absolute;
    &.right-dots {
      top: 50%;
      transform: translateY(-50%);
      right: -40px;
    }
    &.left-dots {
      left: 50px;
      top: -50px;
    }
  }
  &__overlay {
    width: 100%;
    &-bg {
      position: absolute;
      width: calc(100% - 110px);
      height: 400px;
      background: $polarous-blue-002;
      border-radius: 0 22px 22px 0;
      left: 0;
      bottom: -162px;
    }
    &-button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(-162px - 20px);
    }
  }
}
