<div>
  <form
    class="d-flex align-items-start newsletter"
    [formGroup]="form"
    (ngSubmit)="onSubmitNewsLetter()"
  >
    <ag-input-text
      formControlName="email"
      placeholder="{{ 'forms.email' | translate }}"
      [errors]="[
        { email: 'forms.invalidEmail' | translate },
        { required: 'forms.required' | translate }
      ]"
      class="mr-2 flex-grow-1"
    ></ag-input-text>
    <ag-button
      roundedSize="md"
      type="submit"
      [label]="'buttons.request' | translate: { value: '' }"
    ></ag-button>
  </form>
  <p class="text-center text-success my-4" *ngIf="showSuccess">
    {{ "forms.successRequest" | translate }}
  </p>
</div>
