<div>
  <form
    class="d-flex align-items-start newsletter"
    [formGroup]="form"
    (ngSubmit)="onSubmitNewsLetter()"
  >
    <ag-input-text
      formControlName="email"
      placeholder="{{ 'TITLES.EMAIL' | translate }}"
      [errors]="[
        { email: 'ایمیل نامعتبر است.' },
        { required: 'Email is required' }
      ]"
      class="mr-2 flex-grow-1"
    ></ag-input-text>
    <ag-button
      roundedSize="md"
      type="submit"
      label="{{ 'BUTTONS.REQUEST' | translate }}"
    ></ag-button>
  </form>
</div>
