@import "abstracts/mixins";

.wrapper {
  cursor: pointer;
}
popper-content {
  &::ng-deep .ngxp__container {
    box-shadow: $shadow-sm rgba(0, 0, 0, 0.1);
    border: 0;
    background-color: $white;
    border-radius: $radius-md;
    min-width: 250px;
  }

  &::ng-deep .ngxp__arrow {
    display: none;
  }

  .list-group {
    padding: 0;
    list-style: none;
    &__item {
      a {
        @include text-style($body-color, $font-size-lg, $font-weight: 500);
        i {
          opacity: 0;
          transition: all 0.3s;
        }
        &:hover {
          text-decoration: none;
          color: $primary;
          i {
            opacity: 1;
          }
        }
      }
    }
  }
}
.nav-link {
  &:hover,
  &:hover .fa {
    color: $primary !important;
  }
}
