<div class="d-flex aligm-items-center justify-content-between">
  <span>{{ label }}</span>
  <div class="wrapper d-flex">
    <label
      *ngFor="let item of items"
      class="radio-button d-flex flex-row-reverse align-items-center justify-content-end m{{
        fa ? 'l' : 'r'
      }}-3"
    >
      <span>
        {{ item.name }}
      </span>
      <input
        type="radio"
        [value]="item.value"
        [ngModel]="value"
        (ngModelChange)="change($event)"
        [name]="name"
        #checked
      />
      <span
        class="checkmark m{{ fa ? 'l' : 'r' }}-1"
        (click)="onChange(checked.value)"
      ></span>
    </label>
  </div>
</div>
