<div class="row">
  <div class="col-12">
    <ag-lined-header
      class="mar-b-64"
      text="{{ 'TITLES.COMMENTS' | translate }}"
    ></ag-lined-header>
    <form class="form-row">
      <ag-input-text
        placeholder="{{ 'TITLES.FIRST_NAME' | translate }}"
        class="col-6"
      ></ag-input-text>
      <ag-input-text
        placeholder="{{ 'TITLES.EMAIL' | translate }}"
        class="col-6"
      ></ag-input-text>
      <ag-input-textarea
        placeholder="{{ 'TITLES.OPINION' | translate }}"
        class="col-12 mar-y-48"
      ></ag-input-textarea>
      <ag-button
        class="col-12 text-right"
        label="Submit"
        type="submit"
      ></ag-button>
    </form>
  </div>
</div>
