<div class="container-fluid newsletter ag-rounded-lg">
  <div class="row">
    <div
      class="col-5 ag-rounded-lg newsletter__mask d-flex align-items-center justify-content-start"
    >
      <img class="mar-l-32" src="assets/images/newsletter.png" alt="" />
    </div>
    <div
      class="col-6 newsletter__input d-flex align-items-center position-relative"
    >
      <img src="assets/images/subscribe-newsletter.png" alt="path" />
      <div class="flex-grow-1">
        <span>Enter your email for the latest news</span>
        <ag-newsletter-textbox></ag-newsletter-textbox>
      </div>
    </div>
  </div>
</div>
