@import "abstracts/mixins";

.wrapper {
  &__image {
    flex-basis: 55%;
    position: relative;
    &-dots {
      position: absolute;
      bottom: -47px;
      z-index: -1;
      left: -50px;
    }
    img {
      max-width: 100%;
    }
  }
  &__content {
    flex-basis: 45%;
    &-header {
      @include text-style($title-color3, $font-size-xl, $font-weight: 600);
    }
    .description {
      line-height: 2;
    }
  }

  &.flex-row-reverse {
    .wrapper__image-dots {
      left: auto;
      right: -50px;
    }
  }
}
