@import "abstracts/mixins";

:host {
  padding-bottom: 47px;
}

.wrapper {
  &__image {
    position: relative;
    &-dots {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      z-index: -1;
      &.right-side {
        left: auto;
        right: -50px;
      }
      &.left-side {
        right: auto;
        left: -50px;
      }
    }
    img {
      max-width: 100%;
    }
  }
  &__content {
    &-header {
      @include text-style($title-color3, $font-size-lg, $font-weight: 600);
      @include small() {
        font-size: $font-size-xl;
      }
    }
    .description {
      line-height: 2;
    }
  }
}
