<div
  class="d-flex align-items-center wrapper"
  [ngClass]="{ 'flex-row-reverse': isRtl }"
>
  <div
    class="wrapper__image ag-rounded-lg ag-blur-effect"
    [ngClass]="{ 'mr-4': isLtr, 'ml-4': isRtl }"
  >
    <img
      class="ag-rounded-lg w-100"
      [src]="product.image"
      alt="{{ 'PRODUCT.TITLE' | translate: { title: product.title } }}"
    />
    <img class="wrapper__image-dots" src="assets/images/dots4.png" alt="dots" />
  </div>
  <div class="wrapper__content">
    <h3 class="wrapper__content-header mar-b-24">
      {{ "PRODUCT.TITLE" | translate: { title: product.title } }}
    </h3>
    <div class="description mar-b-24">
      {{
        "PRODUCT.DESCRIPTION" | translate: { description: product.description }
      }}
    </div>
    <div class="d-flex align-items-center">
      <a [href]="product.website">
        <ag-button
          class="mar-r-32"
          [raised]="true"
          label="{{ 'BUTTONS.VISIT_WEBSITE' | translate }}"
        ></ag-button>
      </a>
      <ag-button
        [routerLink]="['/products', product.id]"
        [outline]="true"
        label="{{ 'BUTTONS.READ_MORE' | translate }}"
      ></ag-button>
    </div>
  </div>
</div>
