<div class="container-fluid px-0 wrapper">
  <div class="row" [ngClass]="{ 'flex-row-reverse': isLtr }">
    <div
      class="col-lg-6 col-xl-7 wrapper__image ag-rounded-lg ag-blur-effect"
      [ngClass]="{
        'pl-4': (isLtr && en) || (isRtl && fa),
        'pr-4': (isLtr && fa) || (isRtl && en)
      }"
    >
      <img
        class="ag-rounded-lg w-100"
        [src]="product.image"
        [alt]="product.title"
      />
      <img
        [ngClass]="{
          'left-side': (isLtr && fa) || (isRtl && en),
          'right-side': (isLtr && en) || (isRtl && fa)
        }"
        class="wrapper__image-dots d-none d-md-block"
        src="assets/images/dots4.png"
        alt="dots"
      />
    </div>
    <div class="col-lg-6 col-xl-5 wrapper__content mt-5 mt-lg-0">
      <h3 class="wrapper__content-header mar-b-24">
        {{ product.title }}
      </h3>
      <div class="description mar-b-24">
        {{ product.description | dots: 300 }}
      </div>
      <div
        class="d-flex align-items-center justify-content-around justify-content-sm-start"
      >
        <a
          [href]="product.website"
          target="_blank"
          class="mar-{{ fa ? 'l' : 'r' }}-32"
        >
          <ag-button
            [raised]="true"
            label="{{ 'BUTTONS.VISIT_WEBSITE' | translate }}"
          ></ag-button>
        </a>
        <ag-button
          [routerLink]="['/products/details', product.id]"
          [outline]="true"
          label="{{ 'BUTTONS.READ_MORE' | translate }}"
        ></ag-button>
      </div>
    </div>
  </div>
</div>
