@import "abstracts/mixins";

.nav-item {
  .dropdown__title {
    border: 1px solid $primary;
    border-radius: 10px;
  }

  &.active {
    box-shadow: 0 3px 20px 0 rgba(68, 193, 195, 0.1);
    .dropdown__title {
      border-bottom-color: transparent;
      border-radius: 10px 10px 0 0;
    }
  }
  .nav-link {
    @include text-style($title-color3, $font-size-md);
    &:after {
      content: none;
    }
  }
  .dropdown-menu {
    width: 100%;
    border-radius: 0 0 10px 10px;
    border: 1px solid #44c1c3 !important;
    border-top-color: transparent !important;
    margin-top: -5px;
    .dropdown-item {
      @include text-style($body-color, $font-size-md);
      &-icon {
        opacity: 0;
        transform: translateX(-8px);
        transition: all 0.3s;
      }
      &:hover,
      &:active {
        background-color: transparent;
        color: $primary;
        .dropdown-item-icon {
          opacity: 1;
          transform: translateX(-3px);
        }
      }
      &:last-child {
        margin-bottom: 0 !important;
      }
      &.active {
        color: $primary;
        background-color: transparent;
      }
    }
  }
  &:hover,
  &.active {
    cursor: pointer;
    .nav-link,
    .nav-item-icon {
      color: $primary;
    }
  }
}
