@import "abstracts/mixins";
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  .image {
    width: 97px;
  }
  span {
    @include text-style($body-color, $font-size-lg, $font-weight: 600);
  }
}
