@use "sass:list";
@import "abstracts/variables";

@mixin text-style(
  $color: $body-color /*#414141*/,
  $size: null,
  $line-height: $line-height-lg /*2*/,
  $font-weight: normal
) {
  color: $color;
  line-height: $line-height;
  font-weight: $font-weight;
  @if ($size) {
    font-size: $size;
  } @else {
    font-size: $font-size-sm;
    @include medium() {
      font-size: $font-size-md;
    }
  }
}

@each $spaceSize in $spaces {
  @each $direction in $directions {
    .pad-#{str-slice($direction, 0, 1)}-#{$spaceSize} {
      padding-#{$direction}: #{$spaceSize}px !important;
    }

    .mar-#{str-slice($direction, 0, 1)}-#{$spaceSize} {
      margin-#{$direction}: #{$spaceSize}px !important;
    }
  }

  .pad-#{$spaceSize} {
    padding: #{$spaceSize}px !important;
  }

  .pad-y-#{$spaceSize} {
    padding-top: #{$spaceSize}px !important;
    padding-bottom: #{$spaceSize}px !important;
  }

  .pad-x-#{$spaceSize} {
    padding-left: #{$spaceSize}px !important;
    padding-right: #{$spaceSize}px !important;
  }

  .mar-#{$spaceSize} {
    margin: #{$spaceSize}px !important;
  }

  .mar-y-#{$spaceSize} {
    margin-top: #{$spaceSize}px !important;
    margin-bottom: #{$spaceSize}px !important;
  }

  .mar-x-#{$spaceSize} {
    margin-left: #{$spaceSize}px !important;
    margin-right: #{$spaceSize}px !important;
  }
}

@mixin extraSmall {
  @media (max-width: #{$extraSmall-width}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small-min-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-min-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-min-width}) {
    @content;
  }
}

@mixin extraLarge {
  @media (min-width: #{$extraLarge-min-width}) {
    @content;
  }
}
