$white: #ffffff;
$gray-001: #f1f1f1;
$gray-002: #d4d4d4;
$gray-003: #a1a1a1;
$gray-004: #818181;
$gray-005: #7d7d7d;
$gray-006: #616161;
$gray-007: #555555;
$gray-008: #414141;
$gray-009: #363636;
$gray-010: #212121;
$black: #000000;

$dark-green-001: #2c7b7d;
$dark-green-002: #266a6b;
$dark-green-003: #1f5859;
$dark-green-004: #194747;
$dark-green-005: #174142;
$dark-green-006: #133536;
$dark-green-007: #0d2424;
$dark-green-008: #071212;

$polarous-blue-001: #eef9f9;
$polarous-blue-002: #ddf3f4;
$polarous-blue-003: #cceeee;
$polarous-blue-004: #bbe8e9;
$polarous-blue-005: #aae2e3;
$polarous-blue-006: #99ddde;
$polarous-blue-007: #88d7d8;
$polarous-blue-008: #74fcff;
$polarous-blue-009: #68ffe0;
$polarous-blue-010: #59fcff;
$polarous-blue-011: #55f1f5;
$polarous-blue-012: #4cd8db;
$polarous-blue-013: #44c1c3;
$polarous-blue-014: #3ba5a8;
$polarous-blue-015: #328d8f;
$polarous-blue-016: #297275;
$polarous-blue-017: #205a5c;
$primary: $polarous-blue-013;
$primary-hover: $polarous-blue-014;

$jungle-green-001: #5dffaa;
$jungle-green-002: #39ff97;
$jungle-green-003: #36f591;
$jungle-green-004: #31db82;
$jungle-green-005: #2bc273;
$jungle-green-006: #25a864;
$jungle-green-007: #208f55;
$jungle-green-008: #1a7546;
$jungle-green-009: #145c36;
$secondary: $jungle-green-005;

$blue: #3069cc;
$light-blue: #68ccff;
$orange: #f25841;
$light-orange: #fe6e90;
$yellow: #ffc130;
$light-yellow: #ffbf75;
$purple: #505aff;
$light-purple: #a059d6;

$gradient-primary-left: $polarous-blue-013;
$gradient-primary-right1: $polarous-blue-014;
$gradient-primary-right2: $polarous-blue-011;
$gradient-primary-right3: $polarous-blue-009;
$gradient-secondary-left1: $jungle-green-005;
$gradient-secondary-left2: $jungle-green-003;
$gradient-secondary-right1: $jungle-green-007;
$gradient-secondary-right2: $jungle-green-003;

$title-color1: $dark-green-007;
$title-color2: $dark-green-008;
$title-color3: $gray-010;
$body-color: $gray-008;
$button-color: $gray-008;
$subtitle-color: $gray-006;
$caption-color: $gray-004;
$field-color: $gray-003;

$shadow-sm: 0 5px 10px 0;
$shadow-md: 0 10px 20px 0;
$shadow-lg: 0 20px 40px 0;

$line-height-sm: 1.25;
$line-height-md: 1.29;
$line-height-lg: 2;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 26px;
$font-size-xxl: 32px;
$font-size-xxxl: 42px;
$font-size-xxxxl: 68px;

$radius-xxl: 40px;
$radius-xl: 22px;
$radius-lg: 20px;
$radius-md: 10px;
$base-font-family: "Muli";

$spaces: 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 104, 132, 156, 164;
$directions: "top", "right", "bottom", "left";
