<div
  class="wrapper bg-white ag-rounded-lg ag-blur-effect m-4"
  [ngClass]="{ 'ag-rtl': fa, 'ag-ltr': en }"
>
  <div
    class="wrapper__header d-flex align-items-center justify-content-between p{{
      fa ? 'l' : 'r'
    }}-4"
  >
    <div
      class="wrapper__header__owner d-flex align-items-center flex-column flex-sm-row px-4 px-sm-0"
    >
      <div
        class="wrapper__header__owner-image m{{ fa ? 'l' : 'r' }}-3 {{
          fa ? 'right-side' : 'left-side'
        }}"
      >
        <img
          class="ag-rounded-lg"
          [src]="testimonial.image"
          [alt]="testimonial.last_name"
        />
      </div>
      <div class="wrapper__header__owner-name mt-3 mt-sm-0">
        <p class="mb-0">
          {{ testimonial.first_name + " " + testimonial.last_name }}
        </p>
        <p class="mb-0">
          {{ testimonial.position }}
        </p>
      </div>
    </div>
    <div class="wrapper__header__quote">
      <img src="assets/images/quote.png" alt="quote" />
    </div>
  </div>
  <div class="wrapper__comment p-4">
    <p class="mb-0">
      {{ testimonial.opinion }}
    </p>
  </div>
</div>
