<div class="container-fluid">
  <section>
    <ag-product-details-header
      title="Product Content & Distribution Management"
      description="It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of
      using Lorem Ipsum is that it has a more-or-less normal distribution of
      letters, as opposed to using 'Content here, content here', making it
      look like readable English. Many desktop publishing packages and web
      page editors now use Lorem Ipsum as their default model text, and a
      search for 'lorem ipsum' will uncover many web sites still in their
      infancy. Various versions have evolved over the years, sometimes by
      accident, sometimes on purpose (injected humour and the like)."
      image="assets/images/bg1.png"
      siteUrl="/products/2"
    ></ag-product-details-header>
  </section>
  <section class="mar-t-156">
    <ag-product-features
      [features]="[
      {image:'assets/images/f1.png',text:'High Security'},
      {image:'assets/images/f2.png',text:'Get Money'},
      {image:'assets/images/f3.png',text:'Best Quality'},
      {image:'assets/images/f4.png',text:'Save Time'}]"
      description="It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of
      using Lorem Ipsum is that it has a more-or-less normal distribution of
      letters, as opposed to using 'Content here, content here', making it
      look like readable English. Many desktop publishing packages and web
      page editors now use Lorem Ipsum as their default model text, and a
      search for 'lorem ipsum' will uncover many web sites still in their
      infancy. Various versions have evolved over the years, sometimes by
      accident, sometimes on purpose (injected humour and the like)."
    ></ag-product-features>
  </section>
  <section class="mar-t-156">
    <ag-project-process [processes]="processes"></ag-project-process>
  </section>
  <section class="mar-t-156">
    <ag-partners [partners]="partners"></ag-partners>
  </section>
  <section class="mar-y-156">
    <ag-other-products [products]="otherProducts"></ag-other-products>
  </section>
</div>
