<div class="container-fluid" *ngIf="(product$ | async) as product">
  <section>
    <ag-product-details-header [product]="product"></ag-product-details-header>
  </section>
  <section class="mar-t-156">
    <ag-product-features
      title="{{ 'TITLES.FEATURES' | translate }}"
      [product]="product"
    ></ag-product-features>
  </section>
  <section class="mar-t-156">
    <ag-project-process
      title="{{'TITLES.PROCESSES' | translate}}"
      [processes]="product.processes"
    ></ag-project-process>
  </section>
  <section class="mar-t-156">
    <ag-partners
      title="{{'TITLES.PARTNERS' | translate}}"
      [partners]="product.partners"
    ></ag-partners>
  </section>
  <section class="mar-y-156">
    <ag-container title="{{'TITLES.OTHER_PRODUCTS' | translate}}">
      <div
        class="col-sm-6 col-lg-4 mb-4 mb-lg-0"
        *ngFor="let product of otherProducts$ | async | slice: 0:3"
      >
        <ag-other-product-item [product]="product"></ag-other-product-item>
      </div>
    </ag-container>
  </section>
</div>
