.services {
  background-image: url("../.././../../assets/images/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 30px;
  .row {
    justify-content: space-evenly;
  }
  .col-5 {
    z-index: 100;
    &.move {
      transform: translateY(-30px);
    }
  }
}
