<div class="row services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-5 mar-b-80 move">
            <ag-service-item
              title="Business Analytics"
              description="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, content here"
              icon="assets/images/report.png"
            ></ag-service-item>
          </div>
          <div class="col-5 mar-b-80">
            <ag-service-item
              title="Product Design"
              description="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, content here"
              icon="assets/images/design.png"
            ></ag-service-item>
          </div>
          <div class="w-100"></div>
          <div class="col-5 mar-b-80 move">
            <ag-service-item
              title="Digital Marketing"
              description="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, content here"
              icon="assets/images/spam.png"
            ></ag-service-item>
          </div>
          <div class="col-5 mar-b-80">
            <ag-service-item
              title="Development"
              description="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, content here"
              icon="assets/images/development.png"
            ></ag-service-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
