<div
  class="container-fluid social px-0"
  [class.colored]="colored"
  *ngIf="socialNetworks"
>
  <div class="row justify-content-around no-gutters">
    <a
      [href]="item.value"
      target="_blank"
      class="rounded-circle d-inline-block"
      *ngFor="let item of socialNetworks"
      [ngClass]="{ 'ag-shadow-lg': colored, 'col  px-3': !colored }"
    >
      <div class="social__icon-{{ item.key }} rounded-circle">
        <i
          class="fab fa-2x"
          [ngClass]="{
            'fa-linkedin-in': item.key == 'linkedin',
            'fa-twitter': item.key == 'twitter',
            'fa-facebook-f': item.key == 'facebook',
            'fa-instagram': item.key == 'instagram'
          }"
        ></i>
      </div>
    </a>
  </div>
</div>
